$large: 30px;
$medium: $large/1.5;
$small:  $large/2;
$xsmall: $large/4;
$xxsmall: $large/6;
$primary: black;
$light: white;
$defaultwidth:11px;
$closewidth:16px;
$circlewidth:3px;
$circlewidthspace: - $circlewidth - 1.2;


*,
:after,
:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after,
.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

::selection {
  background: black; }

::-moz-selection {
  background: black; }

body,
html {
  position: relative;
  height: 100%;
/*
  cursor: url(css/cursor-default.png), default;
  cursor: -webkit-image-set(url(css/cursor-default.png) 1x, url(css/cursor-default2x.png) 2x), default;
*/ }

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'ProgrammeRegular', helvetica, 'sans-serif';
  font-variant-alternates: styleset(stacked-a, stacked-b, stacked-c);
  font-size: 100%;
  line-height: 1.5;
  color: black; }

.pure-g-r {
  letter-spacing: normal; }

.pure-g [class*="pure-u"] {
  letter-spacing: normal; }

h1 {
  font-size: 22px;
  line-height: 24px; 
  font-weight: normal;
  }

h2 {
  font-size: 18px;
  font-weight: normal; }

h4 {
  font-weight: 500; }

h4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px; }

p {
  color: #444;
  line-height: 1.8em; }

a, a:hover, a:active, a:focus {
  text-decoration: none;
  color: black;

/*
  cursor: url(css/cursor-pointer.png), default;
  cursor: -webkit-image-set(url(css/cursor-pointer.png) 1x, url(css/cursor-pointer2x.png) 2x), default;
*/ }


p, input, textarea {
/*
  cursor: url(css/cursor-text.png), text;
  cursor: -webkit-image-set(url(css/cursor-text.png) 1x, url(css/cursor-text2x.png) 2x), text;
*/ }

ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

li {
  list-style: none;
  margin: 0px; }

/*-----------------------END----------------------*/
/*-----------------------SIDEBAR----------------------*/
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 25%;
  margin-left: -25%;
  z-index: 2000; }

.header {
  margin: 30px 30px;
  text-align: left; }

.brand-logo img {
  max-width: 260px;
  width: 100%; }

.brand-title,
.brand-tagline {
  margin: 0; }

.brand-tagline {
  font-weight: 300;
  line-height: 24px; }

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-item {
  padding: 7.5px 0px;
  zoom: 1; }

.nav-item a {
  padding: 5px 100% 5px 0px; }

.nav-item a:hover,
.nav-item a:focus {    
}

.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
  background: none; }

.btn-control {
  margin-left: 6px; }

#mc-form {
  margin: 16px 0px 30px 0px; }

#mc-email {
  margin: 0 0px 0 6px; }

#mc-embedded-subscribe {
  width: 115px; }

.tooltip-place {
  margin: 0px; }

legend {
  font-size: 1em; }

::-webkit-input-placeholder {
  color: red; }

input:-moz-placeholder {
  color: #131b1b; }

input:-moz-placeholder {
  color: #131b1b; }

input:-ms-input-placeholder {
  color: #131b1b; }

::input-placeholder {
  color: gray; }

/*  Button Group  */
.btn-group {
  position: relative;
  display: inline-block;
  display: inline;
  margin-left: .3em;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  zoom: 1; }

.btn-group:first-child {
  margin-left: 0; }

.btn-group + .btn-group {
  margin-left: 5px; }

/*-----------------------LAYOUT----------------------*/
#layout {
  padding-left: 25%;
  /* "left col (nav + list)" width */
  position: relative; }

.pure-g-r > div {
  box-sizing: border-box; }

.pure-u-1 {
  width: 100%;
  max-width: 1152px; }

.content {
  padding: 30px 40px 30px 40px; }

.pure-u-1-2 {
  width: 48%;
  /* fallback*/
  width: calc(50% - 8px);
  position: relative;
  margin-bottom: 15px; }

.pure-u-1-4 {
  width: 25%; }

.pure-u-1-2:nth-child(even) {
  margin-left: 7.5px; }

.pure-u-1-2:nth-child(even){
  margin-left: $xsmall;
}
.pure-u-1-2:nth-child(odd) {
  margin-right: $xsmall; }

.e-vers {
  margin: 15px -2px 0 -2px; }

/*-----------------------END----------------------*/
/*-----------------------CARD----------------------*/
.box_title {
  padding: 30px; }

.placeholder{
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 600px;
  overflow: hidden;
  background-color: #eeeeee;
  z-index: 9999;
  }

.ovr {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 600px;
  overflow: hidden;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  z-index: 19;
  -o-transition: box-shadow .2s; 
  -ms-transition: box-shadow .2s; 
  -moz-transition: box-shadow .2s; 
  -webkit-transition: box-shadow .2s; 
  transition: box-shadow .2s; 
  }

.ovr:not(.show) {
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -o-transform: scale(0.99, 0.99);
  -ms-transform: scale(0.99, 0.99);
  -moz-transform: scale(0.99, 0.99);
  -webkit-transform: scale(0.99, 0.99);
  transform: scale(0.99, 0.99); }

.show {
  opacity: 1;
  visibility: visible;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1); }

.box_header {
  display: flex;
  top: 2em;
  width: 100%; }

.box_header .product_preview {
  float: left;
  white-space: nowrap;
  width: 80px;
  height: 80px;
  z-index: 20;
  overflow: hidden; }

.preview img {
  vertical-align: middle;
  height: auto; }

.box_header .preview {
  vertical-align: middle; }

.box_header h1 {
  position: relative;
  width: 100%;
  margin: 0px;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #000; }

.product_desc h4 {
  margin: 0px;
  padding-top: $medium;
/*
  cursor: url(css/cursor-text.png), default;
  cursor: -webkit-image-set(url(css/cursor-text.png) 1x, url(css/cursor-text2x.png) 2x), default;
*/ }

.ovr {
  border: 2px solid $primary; }

/*-----------------------END----------------------*/
/*-----------------------OPEN CLOSE----------------------*/

.light-color{
	color: black!important;
	  		  transition: color 100ms ease-out;
  -webkit-transition: color 100ms ease-out;
     -moz-transition: color 100ms ease-out;
      -ms-transition: color 100ms ease-out;
       -o-transition: color 100ms ease-out;
			
}

.light-border{
	border-color: black!important;
	  		  transition: color 100ms ease-out;
  -webkit-transition: color 100ms ease-out;
     -moz-transition: color 100ms ease-out;
      -ms-transition: color 100ms ease-out;
       -o-transition: color 100ms ease-out;
}
.light-background{
	background-color:black!important;
	  		  transition: background-color 100ms ease-out;
  -webkit-transition: background-color 100ms ease-out;
     -moz-transition: background-color 100ms ease-out;
      -ms-transition: background-color 100ms ease-out;
       -o-transition: background-color 100ms ease-out;
}

.dark-color{
	color: white!important;
	  		  transition: color 100ms ease-out;
  -webkit-transition: color 100ms ease-out;
     -moz-transition: color 100ms ease-out;
      -ms-transition: color 100ms ease-out;
       -o-transition: color 100ms ease-out;		
}

.dark-border{
	border-color: white!important;
	  		  transition: border-color 100ms ease-out;
  -webkit-transition: border-color 100ms ease-out;
     -moz-transition: border-color 100ms ease-out;
      -ms-transition: border-color 100ms ease-out;
       -o-transition: border-color 100ms ease-out;
}

.dark-background{
	background-color: white!important;
	  		  transition: background-color 100ms ease-out;
  -webkit-transition: background-color 100ms ease-out;
     -moz-transition: background-color 100ms ease-out;
      -ms-transition: background-color 100ms ease-out;
       -o-transition: background-color 100ms ease-out;
}

.pure-u-1-2 .info {
  position: absolute;
  bottom: 8px;
  right: 8px;
	z-index: 20;
               box-sizing: border-box;
  	   -webkit-box-sizing: border-box;
  		    -moz-box-sizing: border-box;

    		    transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;    
       -moz-transition-duration: 0.1s;
         -o-transition-duration: 0.1s;
                 -ms-transition: 0.1s;

            transition-property: transform;  
    -webkit-transition-property: transform;
       -moz-transition-property: transform;
        -ms-transition-property: transform;
         -o-transition-property: transform;

             transform: translateZ(0);
     -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
          -o-transform: translateZ(0);
          -ms-transform:translateZ(0);
    
		  	  opacity: 0.45;
	     -moz-opacity: 0.45;
	   -khtml-opacity: 0.45;
  filter: alpha(opacity=45);
  
  		    transition: opacity 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out;
     -moz-transition: opacity 300ms ease-out;
      -ms-transition: opacity 300ms ease-out;
       -o-transition: opacity 300ms ease-out;
}


.pure-u-1-2:hover .info{
			  opacity: 0.9;	
	     -moz-opacity: 0.9;
	   -khtml-opacity: 0.9;
  filter: alpha(opacity=90); 
}

.info-btn{
  width: 30px;
  height: 30px;
  display: block;
  border: 2px solid;
          border-top-left-radius: 2px;  
  -webkit-border-top-left-radius: 2px;
     -moz-border-top-left-radius: 2px;
}
.info-btn{
	cursor: pointer;
}
  
.border{
  border:2px solid transparent!important;
}
  
.dots {
  border-radius: 6px;
  width: 3px !important;
  height: 3px !important;
  left: -4px;
  bottom: calc(50%);
  border: 1px solid;
  z-index: 100;
  		  	  opacity: 1;
	     -moz-opacity: 1;
	   -khtml-opacity: 1;
  filter: alpha(opacity=100);
  z-index: 121; }

.info-toggle {
  width: $defaultwidth;
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 3px;
  left: 8px;
  bottom: 0;
  margin-right: calc(1em - 1px);
  border: 0;
  cursor: pointer;
 
  transition: border-color 150ms ease-out, transform 150ms ease-out; 
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
       -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
  z-index: 120; 
  }
  
  .info-toggle::after, .info-toggle::before {
    border-bottom: 3px solid;
    bottom: calc(50%);
    content: '';
    height: 0;
    width: $defaultwidth;
    left: 1px;
    position: absolute;
    right: 0;
    -webkit-transition: transform 200ms ease-out; 
    -moz-transition: transform 200ms ease-out; 
    -ms-transition: transform 200ms ease-out; 
    -o-transition: transform 200ms ease-out; 
    transition: transform 200ms ease-out; 
 }

  .info-toggle span {
    color: transparent;
    height: 0;
    width: 0;
    overflow: hidden;
    position: absolute; 
}

.isActive {
  border-color: transparent!important;
  color: black!important;
  -webkit-transform: rotateZ(180deg);
     -moz-transform: rotateZ(180deg);
       -o-transform: rotateZ(180deg);
      -ms-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
   }
  .isActive .dots {
		  	  opacity: 0;
	     -moz-opacity: 0;
	   -khtml-opacity: 0;
  filter: alpha(opacity=0); 
  }
  .isActive::after, .isActive::before {
    transition: transform 200ms ease-out;
    -webkit-transition: transform 200ms ease-out;
    -moz-transition: transform 200ms ease-out;
    -o-transition: transform 200ms ease-out;
    width: $closewidth;
    left: -2px;
    bottom: calc(50% - 3px); }
  .isActive::after {
  -webkit-transform: rotateZ(-45deg);
     -moz-transform: rotateZ(-45deg);
       -o-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg); 
    }
  .isActive::before {
  -webkit-transform: rotateZ(45deg);
     -moz-transform: rotateZ(45deg);
       -o-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
    }

/*-----------------------END----------------------*/
/*-----------------------ABOUT----------------------*/
#section-info {
  padding: 0 0 1em 0; }

.info li:first-child {
  text-transform: uppercase; }

.info li {
  text-transform: inherit; }

.r-box {
  padding: 0 0px 0 0; }

.ex-r-box {
  width: 23%; }

.u-info {
  margin: 32px 0px 12px 0px; }

.label {
  display: none; }

@media (max-width: 1052px) {
  .pure-u-1-4 {
    width: 49%; }

  .ex-r-box {
    width: 49%; } }
@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    position: relative;
    margin: 0; }

  .header {
    text-align: center;
    top: auto;
    margin: 3em 30px 0px 30px;
    position: static; }

  .brand-logo img {
    max-width: 80%;
    width: 80%; }

  #layout {
    padding: 0; }

  .pure-u-1-4 {
    width: 48%; }

  .r-img {
    padding-left: 0em; }

  .l-img {
    padding-right: 0em; }

  btn, input, button.btn, input[type="submit"].btn {
    border-radius: 0px; }

  .ex-r-box {
    width: 49%; }

  menu, ol, ul {
    padding: 0 0 0 0px; }

  .header nav ul {
    list-style: none;
    display: none;
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 0 30px; }

  .nav-item {
    zoom: 1;
    width: 32.55%;
    display: inline-block; }

  .nav-item a {
    padding: 0px; }

  .t-1 {
    display: none; }

  .toggle_menu {
    display: none; } 
}
@media (max-width: 510px) {
  .content {
    padding: 0 1em; }

  .brand-logo img {
    max-width: 90%;
    width: 90%;
    padding: 0 0.5em; }
.menu{
    width: 120%;
    margin-left: -10%;
}
  .header nav ul{
    padding:0px 0px
  }

  .nav-item {
    zoom: 1;
    display: inline-block; 
    padding: 20px 10px 25px 10px;
    width: 30%;
  }

  .nav-item a {
    padding: 0px; }

  #mc-email {
    margin: 12px 0px 0 6px;
    border-radius: 0px; }

  btn, input, button.btn, input[type="submit"].btn {
    margin-top: 12px;
    border-radius: 0px;}

  #mc-email {
    text-align: center; }

  .pure-u-1-2 {
    width: 100%; }
	
  .pure-u-1-2:nth-child(even) {
  	margin-left: 0px; }

  .pure-u-1-2:nth-child(odd) {
  	margin-right: 0 px; }

  .pure-u-1-4 {
    width: 100%; } 

}
/*Loader---------------------------------------------*/
.preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  visibility: hidden;
  		  	  opacity: 0;
	     -moz-opacity: 0;
	   -khtml-opacity: 0;
  filter: alpha(opacity=0);
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-animation: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  z-index: 99999999999999; }

.preloader_inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 4em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  font-size: 1.2em;
  font-family: monospace;
  font-weight: 300;
  color: #333; }

.inner {
  background: #FFF;
  margin: 1em;
  padding: 0;
  display: block; }

.wrapper {
  position: relative;
  clear: both;
  display: none; }

/*CONTACT------------------------------------------*/
.contact-form li:not(:last-child) {
  margin-bottom: 30px; }

.contact-form label {
  display: none; }

form {
  margin: 0;
  width: 100%; }

input, textarea {
  width: 100%;
  border: 2px solid black;
  padding: 12.5px;
  font: inherit;
  background: white;
  color: black;
  resize: none;
  
  -webkit-border-radius: 0;
  border-radius: 0; }
  

textarea {
  padding: 11px 11px; }

form label {
  display: block;
  margin: 1em auto; }

form textarea {
  min-height: 16em;
  width: 100%; }

::-webkit-input-placeholder {
  color: #9e9e9e; }

::-moz-placeholder {
  /* Firefox 18- */
  color: #9e9e9e; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #9e9e9e; }

:-ms-input-placeholder {
  color: #9e9e9e; }

input[type="submit"] {
  display: block;
  width: 100%;
  font-size: 18px;
  margin: 0 auto;
  line-height:10px;  
  border: 2px solid $primary;
  background-color: $primary;
  color:white!important;
  height: 52px; }


@media (min-width: 768px) {
  .header nav ul {
    margin: 70px 0 0;
    padding: 0;
    display: block;
    overflow: hidden;
    list-style: none; }

  .header nav ul li {
    display: block; }

  .header .footer {
    position: absolute;
    bottom: 30px; }

  .header ul.social {
    list-style: none;
    margin: 0;
    padding: 0; }

  .header ul.social li {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px; }

  .header ul.social li a {
    display: inline-block;
    padding: 0px;
    color: #000;
    width: 30px;
    height: 30px; }

  .fa {
    font-size: 26px !important; }

  .toggle_menu {
    display: none; } }
@media (max-width: 768px) {
  .header .logo a {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    text-align: center;
    color: #333; }

  .header .footer {
    display: none; } }
/*Menu------------------------------*/
.show_menu {
  
  transition: all 0.8s ease; 
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -ms-transition: all .8s ease;
  -o-transition: all .8s ease;
  }

.show-section {
  display: block;
 		  	  opacity: 1;
	     -moz-opacity: 1;
	   -khtml-opacity: 1;
  filter: alpha(opacity=100);
  -webkit-animation: fade 1s 1 ease;
  animation: fade 1s 1 ease; }

@-webkit-keyframes fade {
  0% {
    opacity: 0; } }
@keyframes fade {
  0% {
    opacity: 0; } }
/*Carousel------------------------------*/
.carousel {
  width: 100%;
  max-width: 1280px;
  max-height: 600px;
  z-index: 9;
  display: inline-block; }

.slick-slider {
  margin-bottom: 0px; }

.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.carousel .item {
  position: relative; }

.item .imageContainer {
  display: block;
  width: 100%;
  position: relative;
  max-height: 600px; }

.item .imageContainer {
  display: block;
  width: 100%;
  position: relative;
  max-height: 600px; }

.item .imageContainer:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  color: red;
  background-color: transparent;
  width: 100%;
  height: 100%; }

.item img, .item img {
  display: block;
  width: 100%; }

/*END*/
/* CAROUSSEL */

.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; 
  background: url(/asset/placeholder.png);
  }

.slick-slider .slick-list { 
    opacity: 0; 
    position: absolute; 
}
.slick-slider.slick-initialized {
    background: none;
}
.slick-slider.slick-initialized .slick-list { 
    opacity: 1;
    position: relative;
    transition: opacity 0.2s ease-in;
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -ms-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -ms-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
}


.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width:100px;
   }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-prev, .slick-next {
  position: absolute;
  margin: 0px;
  top: 0px;
  bottom: 0px;
  height: 100%;
  display: block;
  width: 50%;
  height: 100%;
  padding: 0;
  color: transparent;
  border: none;
  outline: none;
  background-color: transparent; }

.slick-prev {
  left: 0px;
/*
  cursor: url(css/cursor-pointer.png), default;
  cursor: -webkit-image-set(url(css/cursor-pointer.png) 1x, url(css/cursor-pointer2x.png) 2x), default;
*/ }

.slick-next {
  right: 0px;
/*
  cursor: url(css/cursor-pointer.png), default;
  cursor: -webkit-image-set(url(css/cursor-pointer.png) 1x, url(css/cursor-pointer2x.png) 2x), default;
*/ }

.slick-prev:before, .slick-next:before {
  color: transparent; }

.slick-dots {
  position: absolute;
  bottom: 0px;
  z-index: 999; }

.slick-dots li button:before {
  color: white; }

.slick-dots li.slick-active button:before {
  color: white; }

/*Select------------------------------------------*/
div.fancy-select {
  position: relative;
  font-size: 18px;
  margin: 0 0 30px 0;
  box-shadow: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

div.fancy-select select:focus + div.trigger {
  box-shadow: none; }

div.fancy-select select:focus + div.trigger.open {
  box-shadow: none; }

div.fancy-select div.trigger {
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  height: 52px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  background: black;
  color: white;
  width: 100%;
  border: 2px solid black;
  transition: all 240ms ease-out;
  -webkit-transition: all 240ms ease-out;
  -moz-transition: all 240ms ease-out;
  -ms-transition: all 240ms ease-out;
  -o-transition: all 240ms ease-out; 
  z-index: 999;
  }

div.fancy-select div.trigger:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: white;
  bottom: 12px;
  right: 20px; 
   -moz-transform: scale(1, 1);
   -webkit-transform: scale(1, 1);
   -o-transform: scale(1, 1);
   -ms-transform: scale(1, 1);
   transform: scale(1, 1); 
  }

div.fancy-select div.trigger.open {
  background: black;
  color: white;
  box-shadow: none; }

div.fancy-select div.trigger.open:after {
  border-top-color:white;
  -moz-transform: scale(1, -1);
-webkit-transform: scale(1, -1);
-o-transform: scale(1, -1);
-ms-transform: scale(1, -1);
transform: scale(1, -1);
  bottom: 20px;
      }

div.fancy-select ul.options {
  list-style: none;
  margin: 0;
  padding: 0 0 0 0px;
  position: absolute;
  visibility: hidden;
  top: 30px;
      -ms-transform: translateY(0px); 
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  left: 0;
  opacity: 0;
  z-index: 50;
  width: 100%;
  overflow: auto;
  background: black;
  min-width: 200px;
  		    transition: opacity 150ms ease-out, transform 200ms ease-out, visibility 200ms ease-out;
  -webkit-transition: opacity 150ms ease-out, transform 200ms ease-out, visibility 200ms ease-out;
     -moz-transition: opacity 150ms ease-out, transform 200ms ease-out, visibility 200ms ease-out;
      -ms-transition: opacity 150ms ease-out, transform 200ms ease-out, visibility 200ms ease-out;
       -o-transition: opacity 150ms ease-out, transform 200ms ease-out, visibility 200ms ease-out; 

   
   }

div.fancy-select ul.options.open {
  visibility: visible;
      -ms-transform: translateY(20px); 
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 1;
  border: 2px solid black;
  		  transition: opacity 150ms ease-out, transform 200ms;
  -webkit-transition: opacity 150ms ease-out, transform 200ms;
     -moz-transition: opacity 150ms ease-out, transform 200ms;
      -ms-transition: opacity 150ms ease-out, transform 200ms;
       -o-transition: opacity 150ms ease-out, transform 200ms; 
       }

div.fancy-select ul.options.overflowing {

      -ms-transform: translateY(0px); 
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out; }

div.fancy-select ul.options.overflowing.open {
      -ms-transform: translateY(20px); 
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -o-transition: opacity 300ms ease-out, bottom 300ms ease-out; }

div.fancy-select ul.options li {
  padding: 15px 20px 15px 20px;
  color: black;
  background: white;
  cursor: pointer;
  white-space: nowrap;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transition: all 150ms ease-out;
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -ms-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out; }

div.fancy-select ul.options li.hover {
  background: black;
  color: white;
  white-space: nowrap;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
    

